body{
	background-color: #FFE761;
}

ul{
	list-style_type: none;
}

#burger_image{
	width: 300px;
	height: 350px;
	margin-left: 35%
}

li {
  background: #FAEBD7;
  margin: 5px;
  padding: 5px;
}

.devour-btn{
	display: inline;
	margin-left: 5px;
}

h2, li, form{
	margin-bottom: 15px
}

.undevoured-burger{
	font-weight: bold;
	padding: 8px;
	width: 80%;
	float: left;
	border-radius: 5px;
}

.devoured-burger{
	color: grey;
	padding: 8px;
	width: 80%;
	border: 1px solid grey;
}

#eaten li{
	margin: 0px;
	margin-left: -40px;
}

#uneaten li{
	margin-left: -40px;
}

